body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: italic; /* 斜體 */
  font-weight: bold;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 64px;
}

/* FIXME: 1200 應該可以寫成 .content 給每個 div 用 */
/* 整理成工具式 class */
.content {
  width: 1200px;
}

/* === brief === */
.brief {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png") center center;
  background-size: cover;
  width: calc(100vw);
  height: calc(100vh);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #FFF;
}

.brief-text span {
  display: inline-block; /* 為了設 line-height */
  line-height: 32px;
}

.brief-text p {
  /* TODO: 如果不是在 html 用 br，而是直接設 width 讓多的部分到下一行去，建議這樣做嗎？ */
  width: 283px;
  margin-top: 32px;
  margin-bottom: 40px;
  line-height: 36px;
}

.brief-name {
  line-height: 106px;
}

.brief-media-link {
  display: flex;
  margin-top: 40px;
}

.brief-media-link li {
  margin: 0 8px;
}

/* === about === */
.about {
  margin: 0 auto;
  margin-top: 56px;
  text-align: center;
}

.about-text img {
  display: block;
  margin: 0 auto;
}

.about-text h2 {
  line-height: 84px;
  margin-bottom: 40px;
}

.about-info {
  margin-top: 20px;
  padding-bottom: 24px;
}

.about-info-birth {
  margin-top: 4px;
  margin-bottom: 8px;
}

.about-info-school {
  line-height: 36px;
}

.about-jobs {
  width: 384px;
  margin: 0 auto;
  border-top: 1px solid #000;
}

.about-jobs li {
  margin-top: 28px;
  line-height: 32px;
}

/* FIXME: 自訂義 list style，不太能對齊欸（文字垂直置中，現在有點偏下） */
.about-jobs li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle; /* 指定行内元素（inline）或 table-cell 元素的垂直對齊方式 */
  background-color: #891818;
  border-radius: 50%;
  margin-right: 16px;
}

/* === Brand === */
.brand {
  background: #000;
  color: #FFF;
}

.brand {
  margin-top: 56px;
  padding-top: 56px;
  padding-bottom: 160px;
}

.brand-text {
  margin: 0 auto;
  text-align: center;
}

.brand-text h2 {
  margin-bottom: 12px;
  line-height: 84px;
}

.brand-slogan {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.brand-des {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 68px;
}

.brand-imges {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.brand-main-img {
  margin: 0 auto;
}

.brand-imges li {
  margin-bottom: 40px;
}

/* === works === */
.works {
  padding-top: 56px;
  padding-bottom: 96px;
}

.works-text {
  margin: 0 auto;
  text-align: center;
}

.works h2 {
  line-height: 84px;
}

.works-description {
  margin-top: 16px;
  margin-bottom: 56px;
  font-size: 20px;
  line-height: 30px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-name {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
}

/* === contact === */
.contact h2 {
  line-height: 84px;
}

.contact {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  background: #000;
  color: #FFF;
}

.contact-info li {
  margin-top: 16px;
  line-height: 33px;
}