img {
  display: block; /* 消除 img 底下多餘的空白 */
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 640px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin-bottom: 24px;
}

.news-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news {
  display: flex;
}

.news-text {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.news-title {
  font-size: 20px;
  line-height: 1.2;
}

.news-text p {
  font-size: 16px;
  line-height: 1.5;
}

.footer p {
  font-size: 16px;
  line-height: 1.5; /* 24px */
  padding: 48px 0;  /* (120-24)/2 */
  text-align: center;
  background: gray;
}