*, *:before, *:after {
	box-sizing: border-box;
}

body {
  font-family: Arial, PingFang, "Microsoft JhengHei", sans-serif;
}

/* === 共用 === */
.title {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.ch-title {
  font-weight: bold;
  margin-right: 16px;
}

.en-title {
  font-weight: bold;
  color: #A00404;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
/* ====== */

.container {
  width: 1200px;
  margin: 0 auto;
}

.name {
  margin-top: 37px;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}

.name h1 span {
  display: inline-block;
  margin: 13px 0px;
}

.photo {
  margin: 48px 0px;
}

.profile {
  margin-bottom: 72px;
}

.profile .content {
  margin-bottom: 48px;
}

.profile .content p {
  font-size: 24px;
  line-height: 36px; /* 要用倍數好，還是 px？ */
  margin-bottom: 24px;
}

.education {
  margin-bottom: 72px;
}

.education .content li {
  font-size: 24px;
  margin-bottom: 24px;
}

.skills {
  margin-bottom: 72px;
  text-align: center;
  background-color: #415165;
}

.skills * {
  color: #FFF;
}

.skills .title {
  justify-content: center;
  padding: 24px 0px 8px 0px;
  border: 1px solid #FFF;
}

.skills .content {
  display: flex;
  justify-content: center;
  margin: 21px auto 0px auto;
}

.skills .content ul {
  border-left: 1px solid #FFF;
  padding-left: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.skills .content li {
  margin-bottom: 16px;
  font-size: 24px;
}

.skills .content li:last-child {
  padding-top: 3px; /* 不能 margin，會抵銷 */
}

.exp {
  margin-bottom: 72px;
}

.exp .content li {
  margin-bottom: 24px;
}

.exp .content img {
  margin: 8px 0px;
}

.exp .content {
  margin-left: 24px;
}

.exp .content ul {
  border-left: 1px solid #AFBDD2;
  padding-left: 24px;
}

.exp .content .description {
  width: 642px;
  line-height: 30px;
}

.exp .content h3 {
  font-size: 24px;
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #415165;
  color: #FFF;
}

.contact {
  padding-bottom: 36px;
}

.contact * {
  color: #FFF;
}

.contact .title {
  justify-content: center;
  padding: 24px 0px 8px 0px;
  border-bottom: 1px solid #FFF;
}

.contact .text {
  margin-top: 32px; /* 跟上面的 .title margin-bottom: 16px 會取大的 32 */
}

.contact li {
  margin-top: 16px;
}

.contact li:nth-child(3) {
  margin-top: 13px;
}

.contact li:nth-child(4) {
  margin-top: 15px;
}

.contact .image {
  margin-top: 16px;
}

.contact .image li {
  display: inline-block;
  margin: 0px 12px;
}