*, *:before, *:after {
	box-sizing: border-box;
}

body {
  font-family: Arial, PingFang, "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
  font-size: 24px;
}

img {
  display: block;
}

.title {
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
  margin-right: 16px;
}

.title span {
  color: #A00404;
  margin-left: 16px;
}

.description {
  font-size: 20px;
}


/* === Utility === */
.h1 {
  font-size: 80px;
  line-height: 106px;
}

.h2 {
  font-size: 32px;
}

.bg-primary {
  background-color: #415165;
}

.text-white {
  color: #FFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


/* === name === */
.name {
  margin-top: 37px;
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}


/* === photo === */
.photo {
  margin-top: 48px;
}


/* === profile === */
.profile {
  margin-top: 48px;
}

.profile .content {
  margin-top: 16px;
}

.about-job {
  margin-top: 24px;
}


/* === education === */
.education {
  margin-top: 72px;
}

.education .content {
  margin-top: 16px;
}

.education .content li {
  margin-top: 24px;
}


/* === skills === */
.skills {
  margin-top: 72px;
  padding-bottom: 36px;
  text-align: center;
}

.skills .title {
  width: 992px;
  margin: 0 auto;
  padding: 24px 0px 8px 0px;
  border-bottom: 1px solid #FFF;
}

.skills .title .h2 {
  margin: 0 auto;
}

.skills .title span {
  color: #FFF;
}

.skills .content {
  margin: 0 auto;
}

.skills .content ul {
  width: 250px; /* TODO: 若按照 XD 上的 192px 會導致超過換行，為什麼？這樣大概設一個不會換行的 250px 可以嗎？因為一定要設 width 我才能夠用 margin: 0 auto; */
  margin: 0 auto;
  margin-top: 37px;
  border-left: 1px solid #FFF;
  text-align: left;
}

.skills .content li {
  padding-left: 24px;
  margin-bottom: 16px;
}

.skills .content li:last-child {
  padding-top: 3px; /* 不能 margin，會抵銷 */
}


/* === exp === */
.exp {
  margin-top: 76px;
}

.exp .content li {
  margin-bottom: 24px;
}

.exp .content img {
  margin: 8px 0px;
}

.exp .content {
  margin-left: 24px;
}

.exp .content ul {
  border-left: 1px solid #AFBDD2;
  padding-left: 24px;
}

.exp .content .description {
  width: 642px;
}

/* === contact === */
.footer {
  margin-top: 72px;
}

.contact {
  text-align: center;
  padding-bottom: 36px;
}

.contact .title {
  padding: 24px 0px 8px 0px;
  border-bottom: 1px solid #FFF;
}

.contact .title span {
  color: #FFF;
}

.contact .text {
  margin-top: 32px;
}

.contact li {
  margin-top: 16px;
}

.contact li:nth-child(3) {
  margin-top: 13px;
}

.contact li:nth-child(4) {
  margin-top: 15px;
}

.contact .image {
  margin-top: 16px;
}

.contact .image li {
  display: inline-block;
  margin: 0px 12px;
}

.contact a {
  text-decoration: none;
  color: #FFF;
}

.contact a:hover {
  cursor: pointer;
  text-decoration: underline;
}